body
{
    background-image: url("etoiles-1.png");
    background-repeat: repeat;
}
.C1{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
h1, h2
{
    color: lightblue;
}
ul
{
    color: rgba(255,255,255,0.6);
}
.us{
    border: 1px solide blue;
    background-color:grey;
    color:black;
    padding: 15px;
    width: 400px;
    margin-left: 5.2em;
}